<div class="card ">
    <img class="card-img-top mx-auto d-block py-4" src="../../static/images/Flask_logo.png"
         alt="Visual studio code logo">
    <div class="card-body">
        <h5 class="card-title">Flask</h5>
        <p class="card-text text-justify">
            Visual Studio Code is a source-code editor developed by Microsoft for Windows, Linux and macOS.
            It includes support for debugging, embedded Git control, syntax highlighting, intelligent code completion,
            snippets, and code refactoring.
        </p>

    </div>
    <div class="card-footer">
        <a href="http://flask.pocoo.org/docs/1.0/" target="_blank" class="btn btn-outline-secondary">Website</a>
    </div>
</div>