<div class="card">
    <img class="card-img-top img-fluid" src="../../static/images/mysql-logo.png" alt="mysql logo">
    <div class="card-body">
        <h5 class="card-title">MySql</h5>
        <p class="card-text text-justify">MySQL est très utilisé par les sites web et proposé par la majorité des
            hébergeurs Web. Plus de la moitié des sites Web fonctionnent sous Apache, qui est le plus souvent utilisé
            conjointement avec PHP et MySQL.
        </p>

    </div>
    <div class="card-footer bg-light">
        <a href="https://fr.wikipedia.org/wiki/MySQL" target="_blank" class="btn btn-outline-warning">Wikipedia</a>
    </div>
</div>